//
// forms
// --------------------------------------------------

form {
	div, p { margin-bottom: 15px; }
}
label {
	color: @labelColor;
	font-size: @baseFontSize + 6; // 16px
	margin: 0 5px 3px 0;
	font-weight: normal;
	display: inline-block;
}
select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	  padding: 5px;  
    font-size: @baseFontSize + 5;  
    .border-radius(3px);
    border: 1px solid @borderInputColor;  
    .transition(.2s ease-in-out);
    outline: none;  
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);

    &:hover, &:focus {  
        border: 1px solid  @inputFocusShadow;  
       .box-shadow(0 0 5px @inputFocusShadow);
    }  
}
input.alert, textarea.alert {
	color: @colorTextWarning;
	border: 1px solid @colorTextWarning;
	&:hover, &:focus {  
        border: 1px solid  @colorTextWarning;  
       .box-shadow(0 0 5px @colorTextWarning);
    }  
}
input.error, textarea.error {
	color: @colorTextError;
	border: 1px solid @colorTextError;
	&:hover, &:focus {  
        border: 1px solid  @colorTextError;  
       .box-shadow(0 0 5px @colorTextError);
    }  
}
input.info, textarea.info {
	color: @colorTextInfo;
	border: 1px solid @colorTextInfo;
	&:hover, &:focus {  
        border: 1px solid  @colorTextInfo;  
       .box-shadow(0 0 5px @colorTextInfo);
    }  
}
input.success, textarea.success {
	color: @colorTextSuccess;
	border: 1px solid @colorTextSuccess;
	&:hover, &:focus {  
        border: 1px solid  @colorTextSuccess;  
       .box-shadow(0 0 5px @colorTextSuccess);
    }  
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;     /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}