//
// Table
// --------------------------------------------------

table {
	border-collapse: collapse;
	width: 100%;

	th, td {
		padding: 14px 15px 13px 15px;
		border-bottom: 1px solid #DDDDDD;
	}
	th { text-align: left; }
}