/////
// Tipografia
/////
html {
	background-color: #f9f9f9;
	font: normal normal 10px/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-title {
	margin: 0 0 2em 0;
	span {
		display: inline-block;
		margin: 0 0 0 10px;
		color: #2B2B2B;
	}
}

/////
//elements
/////
a {
	color:@link;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 4.2em;
	font-weight: 200;
	line-height:1.2em;
	color:@text-em;
	margin-bottom:.4em;
}
h1, .entry-title, .entry-title a {color: @entry-title;}
h2, #respond h3 {
	color:@entry-title;
	font-size:3em;
}
h3 {font-size:2.4em;}
h4 {
	font-size:1.8em;
	font-weight: 500;
	margin-bottom: .6em;
}
h5 {
	font-size: 1.6em;
	line-height: 2em;
	font-weight: 500;
	margin-bottom: 1.2em;
}
h6 {
	font-size: 1.4em;
	line-height: 2em;
	font-weight: 500;
	margin-bottom: 1.2em;
}
p {
	font-size: 1.6em;
	line-height: 2em;
	margin-bottom: 1.2em;
	color: @text-normal;
	font-weight: 300;
}
.entry-content {
	ul, ol {
		font-size: 1.6em;
		line-height: 1.6em;
		margin-bottom: 1.2em;
		color: @text-normal;
		font-weight: 300;
		li {
			list-style: inside disc;
			margin-bottom: .8em;
			ul, ol {
				margin: .5em 0 0 1.2em;
				font-size:1em;
			}
		}
	}
	ol > li {list-style:inside decimal;}
	address {
		color:@text-normal;
		font:normal normal 1.4em/1.4em georgia;
		margin-bottom:2em;
		strong {
			color: @text-em;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
	}
}



/////
//Layout(structure)
/////
/* header */
#branding {
	position: relative;
	overflow: hidden;
	background-color: #e74c3c;
	padding:20px 50px;
	hgroup {
		border-radius: 2px;
	}
	hgroup h1, hgroup h1 a, #site-title  a{
		display:inline-block;
		position: relative !important;
		z-index:2;
		color:#fff;
		font-weight: 700;
		text-transform: lowercase;
		font-size:5.5rem;
		margin:0;
	}
	hgroup h2, #site-description{
		position: relative !important;
		z-index:2;
		text-align:center;
		font-size: 5em;
		color:#fff;
		font-weight: 100;
		padding: 0 15%;
		margin: 4% 0;
		text-transform: lowercase;
	}
	& > a {
		position: relative;
		z-index:1;
		width: 100%;
		display: block;
		text-align:center;
		margin-bottom:-50px;
	}
	#searchform {display: none;}
	#access {
		overflow: hidden;
		position: absolute;
		right:50px;
		top: 20px;
	}
}
.assistive-text, .skip-link {
	position: absolute;
	top:-1000px;
	left:-1000px;
	width:0;
	height: 0;
	display:block;
	overflow:hidden;
	font-size:1px;
}
#access .menu {
	text-align:right;
	li {
		display: inline-block;
		margin-left:10px;
	}
	a {
		font-size:1.6em;
		line-height:1em;
		color:#fff;
		text-transform: lowercase;
	}
}

/////
//Content
/////
.singular {
	#primary {
		width: 100%;
		padding-right: 0px;
	}
}

#main {
	position: relative;
	padding: 50px 50px 100px;
	background-color: #f9f9f9;
}
#primary {
	float:left;
	width: 75%;
	padding-right:50px;
}
#secondary {
	float:right;
	width: 25%;
	background: #ecf0f1;
	padding:20px;
	.radius(4px);
}

.search-results {

	.entry-meta {
		display: none;
	}

	.entry-summary {
		margin-top: 1em;
	}

	.post, .page {
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}

}

/////
//Footer
/////
#colophon {
	clear:both;
	position: relative;
	background-color: #2980B9;
	padding: 20px 50px;
	#site-generator {
		text-transform: lowercase;
		font-size:1.4em;
		line-height:1.2em;
		color:#ddd;
		text-align: center;
		a {
			color:#fff;
		}
	}
}